/* Main colors, formatting and styling repeated throughout website */
:root {
    --dark-colour: #001F02;
    --green: #52A36D;
    --light-colour: #FFFFFC;
    --yellow: #DC9118;
    --link-colour: #69db61;
    --contrast-colour: #ff5cb0;
    --heading-font-family: 'Josefin Sans', sans-serif;
    --body-font-family: 'Quicksand', sans-serif;
}

/* Class selectors */
.nav-center {
    justify-content: center;
}

.navbar>.container-fluid.nav-center {
    justify-content: center;
}